.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
    background-color: #fff;
    background: url('../../assets/menu-bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: 300;


    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: transparentize($color: white, $amount: 0.4);
        width: 100%;
        height: 100%;
        padding: 5rem 0;

        .navigation {
            margin-left: 15rem;
            display: flex;
            flex-direction: column;
            transition: all 0.2s ease;
            transition-delay: 0.1s;

            a {
                position: relative;
                text-decoration: none;
                font-size: 2.5rem;
                width: fit-content;
                text-transform: uppercase;
                font-weight: bold;
                color: rgb(194, 196, 197);


                &::after {
                    content: attr(data-value);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    clip-path: inset(0 100% -1% 0%);
                    top: 0;
                    left: 0;
                    transition: all 0.2s ease;
                }

                &:hover {

                    &::after {
                        clip-path: inset(0% -1% -1% 0%);
                    }
                }
            }
        }

        .social-media {
            margin-left: 15rem;
            transition: all 0.2s ease;

            span {
                margin: 0 1rem;
                font-size: 0.75rem;

                &:first-of-type {
                    margin-left: 0;
                }
            }
        }

    }

}


.menu-hidden-content {
    .content {

        .navigation,
        .social-media {
            opacity: 0;
            transform: translateY(25px);
        }
    }
}