.development {
	padding-top: 6rem;

	.dev-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		* {
			transition: all 0.8s ease;
		}

		&:last-of-type {
			flex-direction: row-reverse;
			margin-top: 8rem;
		}

		.square-image {
			width: 26rem;
			height: 26rem;
			background-color: rgb(24, 48, 59);
		}

		.image {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
		}

		.growth {
			position: relative;

			.image {
				left: 5rem;
				bottom: 5rem;
				background: url('../../assets/devlearn.jpg');
				background-position: center;
				background-size: cover;
				transform: translate(-5rem, 5rem);
				transition: all .75s ease;
			}

			.lines {
				position: absolute;
				width: 5rem;
				height: 5rem;
				left: 3rem;
				bottom: 3rem;
				z-index: 0;
			}
		}

		.cooperation {
			position: relative;

			.image {
				right: 5rem;
				bottom: 5rem;
				background: url('../../assets/coop.jpg');
				background-position: center;
				background-size: cover;
				transform: translate(5rem, 5rem);
				transition: all .75s ease;
			}

			.dots {
				position: absolute;
				width: 5rem;
				height: 5rem;
				z-index: -1;
				opacity: 0.5;

				&.bottom-left {
					left: -3rem;
					bottom: 2rem;
				}

				&.top-right {
					right: 2rem;
					top: -3rem;
				}
			}
		}

		.text {
			width: 21rem;
			margin: 0 auto;

			h1 {
				font-family: 'Alegreya', serif;
				font-weight: 500;
				font-size: 2.25rem;
				color: rgb(34, 56, 66);
				margin: 0;
				line-height: 2.75rem;
			}

			p {
				font-size: 0.75rem;
				margin: 1.25rem 0;
				line-height: 35px;
				color: rgb(37, 69, 83);
			}

			.flex-container {
				display: flex;
				justify-content: space-between;
				padding-right: 2rem;
				margin: 0 auto;

				.skill {
					display: flex;
					align-items: center;

					h3 {
						margin: 0;
						font-size: 0.8rem;
						color: rgb(37, 69, 83);
					}

					img {
						height: 1.25rem;
						margin-right: 0.25rem;
						filter: brightness(0);
					}

					&:first-of-type {
						transition-delay: 0.05s;
					}

					&:nth-of-type(2) {
						transition-delay: 0.1s;
					}

					&:nth-of-type(3) {
						transition-delay: 0.15s;
					}
				}
			}
		}

		&.box-hidden {
			.text {
				h1 {
					opacity: 0;
					line-height: 5rem;
					transform: translateY(250px);
				}

				p {
					opacity: 0;
					// margin: 1.5rem 0;
					line-height: 50px;
					transform: translateY(250px);
				}

				.flex-container {
					.skill {
						opacity: 0;
						transform: translateY(250px);
					}
				}

				.dots {
					opacity: 0;
				}
			}
		}
	}
}

@media only screen and (max-device-width: 1024px) and (max-device-height: 1366px) {
	.development {
		.dev-container {
			&:last-of-type {
				margin-top: 4rem;
			}

			.square-image {
				width: 14rem;
				height: 14rem;
			}

			.growth {
				.image {
					left: 1rem;
					bottom: 1rem;
				}

				.lines {
					left: 0;
					bottom: 0;
				}
			}
			.cooperation {
				.image {
					right: 1rem;
					top: -1rem;
				}

				.dots {
					&.bottom-left {
						left: -1rem;
						bottom: 0rem;
					}

					&.top-right {
						right: 0rem;
						top: -1rem;
					}
				}
			}

			.text {
				width: 18rem;

				h1 {
					font-size: 2rem;
				}

				.flex-container {
					padding: 0;
				}
			}

			&.box-hidden {
				.text {
					h1 {
						opacity: 0;
						line-height: 5rem;
						transform: translateY(150px);
					}

					p {
						opacity: 0;
						// margin: 1.5rem 0;
						line-height: 50px;
						transform: translateY(150px);
					}

					.flex-container {
						.skill {
							opacity: 0;
							transform: translateY(150px);
						}
					}

					.dots {
						opacity: 0;
					}
				}
			}
		}
	}
}

@media only screen and (max-device-width: 800px) and (max-device-height: 1280px),
	only screen and (max-device-width: 926px) and (max-device-height: 428px) and (orientation: landscape) {
	.development {
		.dev-container {
			.square-image {
				width: 13rem;
				height: 13rem;
			}
			.text {
				width: 15rem;

				h1 {
					font-size: 1.75rem;
					line-height: 2rem;
				}

				p {
					line-height: 1.1rem;
				}

				.flex-container {
					.skill {
						h3 {
							font-size: 0.7rem;
						}

						img {
							height: 1.15rem;
						}
					}
				}
			}

			&.box-hidden {
				.square-image {
					opacity: 0;
				}

				.text {
					h1 {
						line-height: 2rem;
						transform: translateY(75px);
					}

					p {
						line-height: 1.1rem;
						transform: translateY(75px);
					}

					.flex-container {
						.skill {
							opacity: 0;
							transform: translateY(75px);
						}
					}

					.dots {
						opacity: 0;
					}
				}
			}
		}
	}
}

@media screen and (max-device-width: 428px) and (max-device-height: 926px) {
	.development {
		height: auto;

		.dev-container {
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding: 1rem;

			&:last-of-type {
				margin-top: 3rem;
				flex-direction: column;
				align-items: flex-end;
			}

			.square-image {
				width: calc(100% - 1rem);
			}

			.text {
				margin-top: 1.5rem;
				width: 100%;

				h1 {
					font-size: 1.5rem;
					line-height: 1.85rem;
				}
				p {
					font-size: 0.75rem;
					margin: 2rem 0;
					line-height: inherit;
				}

				.flex-container {
					.skill {
						h3 {
							font-size: 0.7rem;
						}

						img {
							height: 1.15rem;
						}
					}
				}
			}

			&.box-hidden {
				.square-image {
					.image {
						transform: none;
					}
				}

				.text {
					h1 {
						line-height: 1.85rem;
						transform: none;
					}

					p {
						line-height: inherit !important;
						transform: none;
					}

					.flex-container {
						.skill {
							opacity: 0;
							transform: none;
						}
					}

					.dots {
						opacity: 0;
					}
				}
			}
		}
	}
}
