.contact-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	.white-square {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: white;
		z-index: 5;
		pointer-events: none;
		transition: all 0.5s ease;
		opacity: 0;
	}

	.content {
		position: relative;
		color: white;
		width: 100%;
		padding: 4rem 14rem;
		padding-bottom: 8rem;
		background-color: rgb(34, 56, 66);
		transition: all 1s ease;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: url('../../assets/contact-bg.jpg');
			background-position: center;
			background-size: cover;
			opacity: 0.2;
			z-index: 0;
			transition: all 1s ease;
			pointer-events: none;
		}

		* {
			transition: all 0.5s ease;
			z-index: 500;
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2rem;
			height: 2rem;
			border: solid 2px white;
			border-radius: 5rem;
			transition: all .5s ease;
			cursor: pointer;
			margin-bottom: 2rem;

			i {
				font-size: 1rem;
			}

			&:hover {
				border-color: rgb(168, 153, 118);
			}
		}

		h1 {
			font-size: 1.65rem;
			width: 15rem;
			font-family: 'Alegreya', serif;
			transition: all .5s ease;
		}

		p {
			width: 20rem;
			font-size: 0.8rem;
			line-height: 1.25rem;
			transition: all .5s ease 0.3s;
		}
	}

	.hidden {
		&::after {
			opacity: 0;
		}

		h1,
		span,
		p {
			opacity: 0;
		}
	}
}

@media only screen and (max-width: 1025px) and (max-height: 1367px) {
	.contact-page {
		.content {
			padding-left: 5rem;
		}
	}
}

@media only screen and(max-width: 769px) and (max-height: 1025px) {
	.contact-page {
		.content {
			padding-bottom: 4rem;
		}
	}
}

@media screen and (max-device-width: 428px) and (max-device-height: 926px) {
	.contact-page {
		.content {
			padding: 3rem 1rem;

			h1 {
				width: 100%;
			}

			p {
				width: 100%;
			}
		}
	}
}
